[user]
	name = a-n-u-b-i-s
	email = watalanubhava@gmail.com
	signingkey = 42ACBE02FD0BF5B4
[core]
	editor = nvim
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[credential]
	helper = osxkeychain
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[init]
	defaultBranch = main
[tag]
	gpgSign = true
[credential "https://dev.azure.com"]
	useHttpPath = true
